@import "./vendor/normalize-scss/sass/_normalize.scss";
@import "./vendor/bootstrap/assets/stylesheets/_bootstrap.scss";
@import "./vendor/font-awesome-4.6.3/scss/font-awesome.scss";

@include normalize();

@import './lib/_theme.scss';

* {
  font-family: Arial;
}

h1 {
  font-size: 1vw;
}

.header-style {
  background-color: $app-primary;
  margin: 0;
  padding: 0;
}

.header-link {
  font-size: 10px;
}

.navbar-brand {
  float: left;
}

.nav-list {
  float: right;
  list-style-type: none;
}

.nav-links {
  display: block;
  padding: 20px;
}

.nav-links:hover {
  background-color: $app-hover;
}

.google-map {
  display: inline-block;
  width:  70%;
  height: 45vw;
  margin: 0 auto;
}

sm-park {
  width: 28%;
  display: inline-block;
  height: 45vw;
  vertical-align: top;
  text-align: center;
}

.distanceButton {
  width: 70%;
}

.sportButton {
  width: 60%;
}

.buttonContainer {
  list-style: none;
  margin-bottom: 5px;
}

.addressInput {
  margin-bottom: 10px;
}

.commentContainer {
  border: solid thin $app-primary;
  border-radius: 5px;
}
