<div>
  <div ng-init="mapCtrl.initializeMap()">
  </div>
  <h2>Find A Park</h2>
  <div>
    <form class="form-inline" novalidate ng-submit="mapCtrl.setNewAddress()">
      <label for="address">Enter Your Address to Find A Park Near You:</label>
      <input type="text" name="address" ng-model="mapCtrl.addressString">
      <button type="submit" ng-show="!mapCtrl.hasAddress" ng-click="mapCtrl.hasAddress=true">Enter Address</button>
      <button ng-if="mapCtrl.hasAddress" ng-click="mapCtrl.hasAddress=false">Change Address</button>
    </form>
    <div ng-if="mapCtrl.hasAddress">
      <p>How Far Away?</p>
      <ul>
        <li ng-repeat="distance in mapCtrl.distances"><button type="button" ng-click="mapCtrl.setNearbyParks(distance)">{{distance}} miles from current location</button></li>
      </ul>
      <p>Choose A Sport:</p>
      <ul>
        <li ng-repeat="sport in mapCtrl.sports"><button type="button" ng-click="mapCtrl.setSelectedParks(sport)"> {{sport}}</button></li>
      </ul>
    </div>
  </div>
</div>
