<form class="form-inline" novalidate ng-init="parkCtrl.getAllParks()" ng-submit="map">
  <h2>Find A Park</h2>
  <label for="address">Find A Park Near You:</label>
  <input type="button" name="address" value="">
  <select class="" name="">
    <option ng-repeat="distance in mapCtrl.distances" value="distance">{{distance}} miles</option>
  </select>
  <select class="" name="">
    <option ng-repeat="sport in parkCtrl.sports" value="{{sport}}">{{sport}}</option>
  </select>
  <button type="submit">Submit</button>
</form>
